/.env

# Generated at runtime
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/views/*
/storage/*.sqlite
!/storage/views/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
